<table class="wp-suapi-ranking-table">
    <tr>
        <th>Rg</th>
        <th>Team</th>
        <th>Sp</th>
        <th>S</th>
        <th>U</th>
        <th>N</th>
        <th>T</th>
        <th>TD</th>
        <th>P</th>
    </tr>
    {% for item in rankings %}
    <tr>
        <td> {{ item.getRankingNr }}</td>
        <td> {{ item.getRankingTeamName }}</td>
        <td> {{ item.getRankingGamesCount }}</td>
        <td> {{ item.getRankingGamesWon }}</td>
        <td> {{ item.getRankingGamesDraw }}</td>
        <td> {{ item.getRankingGamesLose }}</td>
        <td> {{ item.getRankingGoals }}</td>
        <td> {{ item.getRankingGoalsDifference }}</td>
        <td> {{ item.getRankingPoints }}</td>
    </tr>
    {% endfor %}
</table>
